tmux terraform python python3 pypy pypy3 htop hugo tree ansible saltstack autoenv git heroku s3cmd wget hping node awscli legit libffi libxmlsec1 jenv zsh-autosuggestions nmap go glide dep certbot pyenv gmp ta-lib maven
macvim --with -python --with-override-system-vim --with-lua
